<h1>Welcome to the Admissions Portal</h1>

<%= link to("View Student List", admissions_path) %>
<%= link to("Conduct a Phone Interview", new_admission_path) %>
<%= link to("Email a Student", edit_admission_path) %>

